*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Mulish", sans-serif;
  }
  
  .mulish{
  font-family: "Titillium Web", sans-serif;

}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}